@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;


.section {
  width: 90vw;
  margin: 0 auto;
  max-width: $max-width;
  @include flex-center-column;
}

@include large {
  .section{
    width: 95vw;
  }
}

.container{
  @include center-auto;
  flex-direction: column;
  width: 90vw;
  max-width: 900px;
  background: $clr-white;
  border-radius: $radius;
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: space-between;

  h3{
    @include center-auto;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .questions{
    @include center-auto;
    @include flex-center-column;
    width: 60vw;
    max-width: 600px;
    gap: 1rem;
  }
}

@include large{
  .container{
    flex-direction: row;
  }
}